body {
    animation: slideIn 0.5s ease-out, fadeIn 0.5s ease-out;
    font-family: 'Roboto', sans-serif;
    background-color: #0e101c;
    color: #fff;
    padding: 20px;
  }
  .container {
    max-width: 800px;
    margin: 0 auto;
  }
  .section {
    margin-bottom: 30px;
  }
  .code-block {
    position: relative;
    margin-bottom: 20.5px;
    border-radius: 15.5px;
    overflow: hidden; 
}
.copy-btn {
  font: bold;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #02083f; /* لون الخلفية */
  color: #ffffff; /* لون النص */
  border: transparent;
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: auto;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s, transform 0.3s; /* تأثير الانتقال */
  box-shadow: 0 0 5px rgb(248, 248, 248), 0 0 10px rgba(255, 255, 255, 0.5); /* ظل خفيف */
  outline: none; /* عدم ظهور الحدود البيضاء */
  animation: pulse 2s infinite; /* تأثير النبض */
}

.copy-btn:hover {
  font: bold;
  background-color: #003ce0; /* لون الخلفية عند التحويل */
  color: #ffffff; /* لون النص عند التحويل */
  box-shadow: 0 0 10px rgba(2, 30, 88, 0.8); /* تغيير ظل عند التحويل */
  animation: none; /* تعطيل تأثير النبض عند التحويل */
  transform: scale(1.1); /* انتفاخ الزر عند التحويل */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* حجم النبض في بداية الرسم البياني */
  }
  50% {
    transform: scale(1.1); /* حجم النبض في منتصف الرسم البياني */
  }
  100% {
    transform: scale(1); /* حجم النبض في نهاية الرسم البياني */
  }
}

  .to-small {
    font-size: 14px;
    font-weight: initial;
  }
  .to-small::after{
    content: " :";
    font-weight: bold;
  }
  pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  margin: auto ; 
  font-weight: bold;
  }
    pre code {
    font-size: 16px;
    margin: auto;
    font-weight: lighter;
    }
    #install-code {
    color: rgb(81, 255, 12);
    font-family:monospace;
    }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 4px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #777;
  }
  ::-webkit-scrollbar-track {
    background: #333;
  }
  .accounts-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex; /* عرض الروابط بشكل أفقي */
    overflow-x: auto; /* إضافة شريط تمرير أفقي في حالة تجاوز العناصر الحاوية */
    animation: slideIn 1s ease-out; /* تطبيق تأثير حركي للعناصر */
  }
  .account-item {
    margin-right: 20px; /* تباعد بين الروابط */
  }
  .account-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    animation: slideIn 1s ease-out; /* تطبيق تأثير حركي للروابط */
  }
  .account-icon {
    margin-right: 5px;
    animation: fadeIn 1s ease-out; /* تطبيق تأثير حركي للأيقونات */
    width: 30px; /* زيادة حجم الأيقونات */
  }
  /* تأثير حركي للعناصر عند الظهور */
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .separator {
    width: 100%;
    height: 4px; /* زيادة سمك الخط */
    background-color: transparent; /* خلفية شفافة */
    margin: 40px 0; /* تعديل المسافة بين الفواصل */
    position: relative; /* وضع نسبي */
  }

  .separator::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #ff0000, #ff9900, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); /* تأثير الإشعاع بتدرج الألوان */
    background-size: 200% 100%; /* حجم خلفية الإشعاع */
    animation: pulsate 3.5s infinite; /* تأثير النبض */
    border-radius: 4px; /* إضافة تدرج الزوايا */
    -webkit-filter: saturate(200%); /* زيادة تشبع الألوان */
    filter: saturate(200%);
  }

  @keyframes pulsate {
    0% {
      background-position: 0% 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0% 0;
    }
  }
